@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&family=VT323&display=swap');

* {
	margin: 0px;
	padding: 0px;
}

.gallery {
	display: flex;
	flex-direction: column;
	padding: 0em 20em;
	height: 110vh;
}

.maintxt {
	font-family: 'Ubuntu Mono', monospace;
}

.maintxtAlt {
	font-family: 'Ubuntu Mono', monospace;
	color: white;
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	overflow: auto;
	height: 60vh;
}

.image {
	position: relative;
	width: 220px;
}

.img {
	display: block;
	width: 100%;
	height: 100%;
}

.infoOverlay {
	color: white;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	opacity: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-start;
}

.infoOverlay:hover {
	opacity: 1;
}

.removeHamster {
	font-size: 1.2rem;
	font-weight: 700;
	text-decoration: none;
	border-style: none;
	color: #FF9800;
	background-color: #9A41C5;
	margin-left: 10em;

}

.removeHamster:hover {
	cursor: pointer;
}


.addHamster {
	width: 244px;
	height: 3em;
	background: #FF9800;
	border-radius: 10px;
	border-style: none;
	font-family: 'Ubuntu Mono', monospace;
	font-size: 1em;
	color: white;
	margin: 1.5em 0;

}

.addHamster:hover {
	color: #9A41C5;
	cursor: pointer;
}

.galleryInfo {
	font-family: 'Ubuntu Mono', monospace;
	font-size: 1.5em;
	margin-top: 0.5em
}

.infoOverlay p {
	font-family: 'Ubuntu Mono', monospace;
	margin: 0.2em;
}

.hamsterName {
	padding: 0.5em 0em;
	font-size: 1.3em;
	font-family: 'Ubuntu Mono', monospace;
	text-align: left;
	letter-spacing: 0.05em;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: rgba(255, 255, 255, 0.468)
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(255, 153, 0)
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgb(255, 119, 0);
}